<h1> on hover this will change background </h1>
<div class="image-client">
  <div *ngFor="let text of texts; let i = index" (mouseenter)="hoveredIndex = i; showHoverColor=true"
    (mouseleave)="hoveredIndex = null; showHoverColor=false" class="image">
    <p  [ngStyle]="showHoverColor && hoveredIndex ==i && {background:text.color}" > {{text.clients}} </p>
  </div>
</div>

<h1>My First Attribute Directive</h1>

<div [appHighlight]="'green'">Highlight me!Highlight me!Highlight me!Highlight me!Highlight me!Highlight me!Highlight
  me!Highlight me!Highlight me!Highlight me!</div>

